<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head> <meta charset="utf-8">


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/indexCss.css"/>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <title>Admin Page</title>
</head>
<body>
<div class="container">

    <div class="row col-md-6 col-md-offset-2 custyle">
        <h2> Users Table </h2>
        <small class="text-muted"> To see details push bottom "details" </small >
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" class="btn btn-primary btn-xs pull-right" value="Log Out"/>
        </form>
        <table class="custab table table-striped">
            <thead>
            <a th:href="@{/admin/new}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add New User</a>
            <tr>
                <th>Role</th>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th class="text-right">Action</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <tr th:each="user : ${users}">
                <td th:text="${user.getRolesString()}" >roles</td>
                <td th:text="${user.getId()}" >id</td>
                <td th:text="${user.getFirstName()}">name</td>
                <td th:text="${user.getLastName()}">lastname</td>
                <td class="text-right">
                    <a class='btn btn-info btn-xs' th:href="@{/admin/details/{id}(id=${user.getId()})}"><span class="glyphicon glyphicon-list"></span> Details</a>
                    <a class='btn btn-primary btn-xs' th:href="@{/admin/showEdit/{id}(id=${user.getId()})}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                </td>
                <td class="text-left">
                    <form th:method="DELETE" th:action="@{|/admin/${user.getId()}|}">
                        <button class="btn btn-danger btn-xs" type="submit"><span class="glyphicon glyphicon-remove"></span> Del</button>
                    </form>
                </td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>