<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>New Person</title>
</head>
<body style="padding: 20px;">
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" class="btn btn-primary btn-xs pull-right" value="Log Out"/>
</form>
<h2 style="color: chocolate">Create New User:</h2>
<small class="text-muted"> All cells must be filled!</small >

<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationDefault01">First name</label>
            <input th:field="*{firstName}" type="text" class="form-control" id="validationDefault01" placeholder="First name" required>
            <small th:if="${#fields.hasErrors('firstName')}" th:errors ="*{firstName}" class="form-text text-muted"></small>

        </div>
        <div class="col-md-4 mb-3">
            <label for="validationDefault02">Last name</label>
            <input th:field="*{lastName}" type="text" class="form-control" id="validationDefault02" placeholder="Last name" required>
            <small th:if="${#fields.hasErrors('lastName')}" th:errors ="*{lastName}" class="form-text text-muted"></small>

        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationDefault03">Email</label>
            <input th:field="*{email}"  type="text" class="form-control" id="validationDefault03" placeholder="Email" required>
            <small th:if="${#fields.hasErrors('email')}" th:errors ="*{email}" class="form-text text-muted"></small>

        </div>
        <div class="col-md-2 mb-3">
            <label for="validationDefault04">Age</label>
            <input th:field="*{age}" type="text" class="form-control" id="validationDefault04" placeholder="Age" required>
            <small th:if="${#fields.hasErrors('age')}" th:errors ="*{age}" class="form-text text-muted"></small>
        </div>
        <div class="col-md-2 mb-3">
            <label for="validationDefault04">Birth</label>
            <input th:field="*{birth}" type="text" class="form-control" id="validationDefault04" placeholder="Birth" required>
            <small th:if="${#fields.hasErrors('birth')}" th:errors ="*{birth}" class="form-text text-muted"></small>
        </div>
        <div class="col-md-2 mb-3">
            <label for="validationDefault04">Birth</label>
            <input th:field="*{password}" type="password" class="form-control" id="validationDefault04" placeholder="password" required>
            <small th:if="${#fields.hasErrors('password')}" th:errors ="*{password}" class="form-text text-muted"></small>
        </div>
        <!-- Option Roles here-->
        <br>
        <div class="col-md-2 mb-3">
            <label for="validationDefault04">Choose Role</label>
            <br>
            <select id="validationDefault04" th:field="*{roles}" size="${roles.size()}}" multiple="multiple" required>
                <option th:each="role: ${rolesList}"
                        th:value="${{role}}"
                        th:text="${role.name}"
                        th:selected="${role.name.equals('ROLE_USER')}">
                </option>
            </select>
        </div>

    </div>

    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
                I have checked all details and want to add new user to table.
            </label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Add New Person</button>
</form>
</body>
</html>