<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head> <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/indexCss.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <title>User Page</title>
</head>
<body>
<div class="container">

    <div class="row col-md-6 col-md-offset-2 custyle">
        <h2> User </h2>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" class="btn btn-primary btn-xs pull-right" value="Log Out"/>
        </form>
        <table class="table table-striped custab">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Birth</th>

            </tr>
            </thead>
            <tr>
                <td th:text="${user.getId()}">id</td>
                <td th:text="${user.getFirstName()}">name</td>
                <td th:text="${user.getLastName()}">surname</td>
                <td th:text="${user.getAge()}">25</td>
                <td th:text="${user.getEmail()}">email</td>
                <td th:text="${user.getBirth()}">birth</td>

            </tr>

        </table>
    </div>
</div>
</body>
</html>