<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head> <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/indexCss.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <title>User Page</title>
</head>
<body>
<div class="container">

    <div class="row col-md-6 col-md-offset-2 custyle">
        <h2> Users Details </h2>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" class="btn btn-primary btn-xs pull-right" value="Log Out"/>
        </form>
        <table class="table table-striped custab">
            <thead>
           <!-- Show only for admin -->
            <a th:href="@{/admin}" class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-circle-arrow-left"></span> Go Back</a>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Birth</th>
                <th class="text-right">Action</th>
                <th class="text-right"></th>

            </tr>
            </thead>
            <tr>
                <td th:text="${user.getId()}">id</td>
                <td th:text="${user.getFirstName()}">name</td>
                <td th:text="${user.getLastName()}">surname</td>
                <td th:text="${user.getAge()}">25</td>
                <td th:text="${user.getEmail()}">email</td>
                <td th:text="${user.getBirth()}">birth</td>
                <td class="text-right">
                    <a class='btn btn-primary btn-xs' th:href="@{/admin/showEdit/{id}(id=${user.getId()})}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{|/admin/${user.getId()}|}">
                        <button class="btn btn-danger btn-xs" type="submit"><span class="glyphicon glyphicon-remove"></span> Del</button>
                    </form>
                </td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>